html {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100vh;
}

.container {
  background-color: mediumaquamarine;
  width: 60%;
  margin: auto;
  padding: 14px;
  border-radius: 7px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 620px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
